.App {
    background-color: #ebebeb;
}

.App-header,
.App-body {
    padding: 0 1rem;
}

.App-header {
    font-size: calc(10px + 2vmin);
    padding-bottom: 1.25rem;
}

.App-link {
    color: #61dafb;
}

.App-body {
    min-height: 100vh;
}

.App-input,
.App-output,
.App-fieldset {
    font-size: 1.25rem;
}

.App-output {
    margin-bottom: 1.25rem;
}

.App-input {
    padding: 1rem 1.25rem;
    border: 0;
}

.App-fieldset {
    border: none;
}

p,
h2,
h1,
h3 {
    color: #000;
    margin: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
